@import "antd-custom";

html,
body,
body > div:first-child,
div#__next {
  margin : 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app-layout {
  min-height: 100vh;

  .layout-content {
    padding: 24px 24px 24px;
    margin-top: 64px;
  }

  .logo {
    width: 150px;
    height: 31px;
    float: left;
    color: white;
    font-weight: bold;
    font-size: large;
  }

  .header{
    color: white;
    position: fixed;
    z-index: 10;
    width: 100%;
  }

  .ant-layout-sider + .layout-content {
    margin-left: 200px;
    transition: margin-left 0.4s;
  }

  .ant-layout-sider-collapsed + .layout-content {
    margin-left: 80px !important;
  }
}

.student-table tr:hover,
.forms-table tr:hover {
  cursor: pointer;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #002140;
  color: white;
}

.listItem:hover {
  cursor: pointer;
  background-color: #98989821;
}

.formItem:disabled,
.formItem .ant-input-disabled,
.formItem .ant-checkbox-disabled {
  color: rgba(0, 0, 0, 0.65);
}
.formItem .ant-checkbox-disabled + span {
  color: rgba(0, 0, 0, 0.65);
}

.ant-btn-criterion-validation:hover,
.ant-btn-criterion-validation:focus,
.ant-btn-criterion-validation:active {
  cursor: default;
  box-shadow: none;
  --antd-wave-shadow-color: none;
  &:after,
  &:before {
    border: #d9d9d9;
    box-shadow: none;
  }
}

.ant-btn-validate-criterion {
  border-color: #73d13d;
  color: #73d13d;
  background: transparent;
  &:hover {
    color: #fff;
    background: #73d13d;
  }
}

.ant-btn-invalidate-criterion {
  border-color: #ff4d4f;
  color: #ff4d4f;
  background: transparent;
  &:hover {
    color: #fff;
    background: #ff4d4f;
  }
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  .card-to-add {
    margin-right: 15px;
    margin-bottom: 15px;
    min-width: 350px;
    min-height: fit-content;
  }

  .card-to-display {
    flex: 1;
    min-height: fit-content;
  }
}

.inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.modal-import-format {
  width: 750px !important;
  .ant-modal-body .ant-modal-confirm-content {
    margin-left: 0 !important;
    margin-top: 40px;
  }
}

pre {
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(75, 75, 75, 0.15);
  white-space: pre-wrap;
}
